**/.vscode/**
**/.vs/**
**/bin/**
**/obj/**
**/Builds/**
**/Build/**
**/Library/**
**/Temp/**
**/Recordings/**
**/StreamingAssets/bundles/**
**/StreamingAssets/bundles.meta
**/staged_bundles/**
**/staged_bundles.meta

*.pidb
*.sln
*.userprefs
*.unityproj
*.pidb
*.suo
*.csproj
*.csproj.user
*.csprc
*.apk

log-file.txt
log-file.txt.meta

ProjectVersion.txt
